*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.rgo, h1{
    font-size: 60px;
    color: red;
    margin-left: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.location{
    margin-left: 300px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: gainsboro;
}
.login{
    display:flex;
    justify-content:center;
    align-items:center;
}
.univ{
    display:flex;
    justify-content:center;
    align-items:center;
}
form{
    width:500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 8px;
}
input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding:10px;
    margin: 10px auto;
    border-radius: 8px;
}
label{
    color: #888;
    font-size: 15px;
    padding: 10px;
}
p, a{
    font-size: 14px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: green;
}
a:hover{
    opacity: .6;
}
button{
    background: #ffd300;
    padding: 6px 45px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}
    button:hover{
    opacity: .6;
}